<div style="background-image: url('./assets/images/backgroundmen.jpg');" >


<div class="container mt-3">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class ="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/images/vickyslide1.webp" alt="vicky" width="900" height="400">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/shahidslide2.webp" alt="shahid" width="900" height="400">
      </div>
      <div class="carousel-item">
        <img src="./assets/images/rajslide3.webp" alt="raj" width="900" height="400">
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
   </div>

  <h2>Men styles</h2>

   <div class="row">
    <div class="column" style="background-color:#aaa;">
        <img src="./assets/images/men1.webp" alt="men1" height="200" width="200">
      <h6>Regular fit casual shirt</h6>
      <p>Rs/-1199</p>
      <p><button>Add to Cart</button></p>
    </div>
    <div class="column" style="background-color:#bbb;">
        <img src="./assets/images/men2.webp" alt="men2" height="200" width="200">
        <h6>Regular fit casual shirt</h6>
      <p>Rs/-1454</p>
      <p><button>Add to Cart</button></p>
    </div>
    <div class="column" style="background-color:#ccc;">
        <img src="./assets/images/men3.jpg" alt="men3" height="200" width="200">
        <h6>Regular fit casual shirt</h6>
      <p>Rs/-1656</p>
      <p><button>Add to Cart</button></p>
    </div>
    <div class="column" style="background-color:#ddd;">
        <img src="./assets/images/men4.webp" alt="woman" height="200" width="200">
        <h6>Regular fit casual shirt</h6>
      <p>Rs/-1252</p>
      <p><button>Add to Cart</button></p>
    </div>
    <div class="column" style="background-color:#ccc;">
        <img src="./assets/images/men5.webp" alt="woman" height="200" width="200">
        <h6>Regular fit casual shirt</h6>
      <p>Rs/-1768</p>
      <p><button>Add to Cart</button></p>
    </div>
    <div class="column" style="background-color:#ddd;">
        <img src="./assets/images/men6.webp" alt="woman" height="200" width="200">
        <h6>Regular fit casual shirt</h6>
      <p>Rs/-1476</p>
      <p><button>Add to Cart</button></p>
    </div>
    <div class="column" style="background-color:#ddd;">
        <img src="./assets/images/men7.webp" alt="woman" height="200" width="200">
        <h6>Regular fit casual shirt</h6>
      <p>Rs/-1114</p>
      <p><button>Add to Cart</button></p>
    </div>
    <div class="column" style="background-color:#ddd;">
        <img src="./assets/images/men8.webp" alt="men8" height="200" width="200">
        <h6>Regular fit casual shirt</h6>
      <p>Rs/-1433</p>
      <p><button>Add to Cart</button></p>
    </div><div class="column" style="background-color:#ddd;">
        <img src="./assets/images/men9.webp" alt="men9" height="200" width="200">
        <h6>Regular fit casual shirt</h6>
      <p>Rs/-1344</p>
      <p><button>Add to Cart</button></p>
    </div><div class="column" style="background-color:#ddd;">
        <img src="./assets/images/men10.webp" alt="men10" height="200" width="200">
        <h6>Regular fit casual shirt</h6>
      <p>Rs/-1299</p>
      <p><button>Add to Cart</button></p>
    </div>
  </div>
  
