<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-primary navbar-expand-sm bg-primary navbar-dark">
    <!-- Brand -->
   <a class="navbar-brand">Fashion</a>
   
  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/men">Men</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/women">Women</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/brands">Brands</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus">Contactus</a>
      </li>  
    
      
      <div class="right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/signin">Signin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Signup</a>
        </li>
      </div>
    </ul>
  </nav>
  
  <router-outlet></router-outlet>

    </body>
    
  <div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
    <footer>
        <div class="row my-5 justify-content-center py-5">
            <div class="col-11">
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                        <h3 class="text-muted mb-md-0 mb-5 bold-text">FASHION</h3>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                        <ul class="list-unstyled">
                            <li>Home</li>
                            <li>About</li>
                            <li>Contact us</li>
                            <li>Brands</li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                        <p class="mb-1">DISTRICT: KARIMNAGAR , 505001</p>
                        <p>KARIMNAGAR, HYDERABAD</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                        <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span> Fashion  All Rights Reserved.</small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                        <h6 class="mt-55 mt-2 text-muted bold-text"><b>SAIVIKAS VEGGALAM</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> vvikky274@gmail.com</small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                        <h6 class="text-muted bold-text"><b>MOBILE NUMBER</b></h6><small><span><i class="fa fa-envelope" aria-hidden="true"></i></span> 7780493213</small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</html>


