<div style="background-image: url('./assets/images/keyboard.jpg');" >
<div class="about-section">
    <h1>Contact  Us </h1>
    <p>we would love to hear from you</p>
    <p>wheather you have a question about products , pricing we are ready to answer all your questions</p>
  </div>
  
  <h2 style="text-align:center">Give us a shout</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="./assets/images/instagram.png" alt="Jane" style="width:50%">
        <div class="container">
          <h2>saivikas veggalam</h2>
          <p class="title">Devoloper</p>
          <p>91-7780493213</p>
          <p><a href="https://instagram.com/vikky_prince_?utm_medium=copy_link" class="button">Contact</a></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="./assets/images/Facebook.jpg" alt="Mike" style="width:50%">
        <div class="container">
          <h2>Saivikas veggalam</h2>
          <p class="title"> Director</p>
          <p>vikasvikky507@gmail.com</p>
          <p><a href="https://m.facebook.com/profile.php?id=100006586445011&ref=content_filter" class="button">Contact</a></p>
        </div>
      </div>
    </div>
  
    
    <div class="column">
      <div class="card">
        <img src="./assets/images/Gmail.png" alt="John" style="width:50%">
        <div class="container">
          <h2>Saivikas veggalam</h2>
          <p class="title">Designer</p>
          <p>vvikky274@gmail.com</p>
          <p><a href="vvikky274@gmail.com" class="button">Contact</a></p>
          
        </div>
      </div>
    </div>
  </div>
  </div>